.card-person {
  width: 16%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body > .details > p {
  color: grey;
  text-transform: bold;
}

.card-body > .details {
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}